:root {
    --theme-primary: #7649ff;
    --theme-secondary: #2a2a2a;
    --theme-danger: #f66;
    --theme-border: #6966ff33;
    --theme-shadow: rgba(32, 20, 255, 0.5);
}

body {
    /* background-color: #1b1b1b; */
    background-color: var(--theme-secondary);
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--theme-secondary);
    width: 60%;
    min-height: 80vh;
    /* max-width: 600px; */
    margin-top: 60px;
}

h2 {
    font-size: 2rem;
    color: var(--theme-primary);
    margin-bottom: 20px;
}

.secret {
    margin-bottom: 20px;
    padding: 15px;
    /* background-color: #333; */
    border-radius: 8px;
    border: 1px solid var(--theme-border);
    box-shadow: 4px 4px 8px -3px var(--theme-shadow);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    /* background-color: #444; */
    border-radius: 5px;
}

.row p {
    margin: 0;
    color: var(--theme-primary);
    font-weight: bold;
    font-size: 0.9rem;
}

.delete-secret {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background: var(--theme-danger);
    color: white;
    transition: .2s;
}

.delete-secret:hover {
    background: #ff3939;
    transform: scale(1.05);
}

.value {
    flex-grow: 1;
    text-align: center;
    color: #e0e0e0;
}

.copy-link, .view-toggle {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;
    background-color: var(--theme-primary);
    transition: background-color 0.3s, transform 0.2s;
}

.copy-link:hover, .view-toggle:hover {
    background-color: #4b10ff;
    transform: scale(1.05);
}

.copy-link:active, .view-toggle:active {
    background-color: #4b10ff;
}

/* my styles */
.row-username, .row-value {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background: red; */
    width: 47%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}
.row-username > .value, .row-value > .value {
    color: #444;
    white-space: nowrap;
    overflow-x: auto;
    /* margin-right: 5px; */
}

/* .row-value{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
} */
.value {
    padding: 10px;
}
.value.hidden {
    text-overflow: ellipsis;
    -webkit-text-security: disc;
    text-security: disc;
}

.btns{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.add-secret {
    color: white;
    background: var(--theme-primary);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.add-secret:hover {
    background: #5f20ff;
    transform: scale(1.05);
}

.logout {
    color: white;
    background: var(--theme-danger);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.logout:hover {
    background: #ff3939;
    transform: scale(1.05);
}

@media (max-width: 700px) {
    .container {
        width: 96vw;
    }

    .row:nth-child(2) {
        flex-direction: column;
    }

    .row:nth-child(2) div {
        width: 100%;
    }

    .row:nth-child(2) p {
        visibility: hidden;
    }


}