body {
    /* background-color: #1b1b1b; */
    background-color: #2a2a2a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #2a2a2a;
    width: 90%;
    min-height: 80vh;
    max-width: 600px;
}

h2 {
    font-size: 2rem;
    color: #ff66b2;
    margin-bottom: 20px;
}

.secret {
    margin-bottom: 20px;
    padding: 15px;
    /* background-color: #333; */
    border-radius: 8px;
    border: 1px solid #ff66b233;
    box-shadow: 0 4px 10px rgba(255, 20, 147, 0.5);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    /* background-color: #444; */
    border-radius: 5px;
}

.row p {
    margin: 0;
    color: #ff66b2;
    font-weight: bold;
    font-size: 0.9rem;
}

.value {
    flex-grow: 1;
    text-align: center;
    color: #e0e0e0;
}

.copy-link, .view-toggle {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;
    background-color: #ff66b2;
    transition: background-color 0.3s, transform 0.2s;
}

.copy-link:hover, .view-toggle:hover {
    background-color: #ff85c2;
    transform: scale(1.05);
}

.copy-link:active, .view-toggle:active {
    background-color: #e0559a;
}

/* my styles */
.row-username, .row-value {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background: red; */
    width: 47%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}
.row-username > .value, .row-value > .value {
    color: #444;
    white-space: nowrap;
    overflow-x: auto;
    /* margin-right: 5px; */
}

/* .row-value{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
} */
.value {
    padding: 10px;
}
.value.hidden {
    text-overflow: ellipsis;
    -webkit-text-security: disc;
    text-security: disc;
}

.btns{
    position: absolute;
    top: 15px;
    right: 15px;
}

.add-secret {
    color: white;
    background: #ff66b2;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.add-secret:hover {
    background: #ff85c2;
    transform: scale(1.05);
}

.logout {
    color: white;
    background: #e0559a;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.logout:hover {
    background: #ff6b9c;
    transform: scale(1.05);
}

