:root {
    --theme-primary: #7649ff;
    /* --theme-secondary: #2a2a2a; */
    --theme-secondary: #1c1c1c;
    --theme-danger: #f66;
    --theme-border: #6966ff33;
    --theme-shadow: rgba(32, 20, 255, 0.5);
}

body {
    background-color: var(--theme-secondary);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.53);
    text-align: center;
    width: 100%;
    max-width: 400px;

    /* box-shadow: inset 0px 0px 75px -30px #2a00aa; */
    /* box-shadow: inset 0px -64px 75px -30px #2a00aa; */
}

h2 {
    font-size: 24px;
    color: var(--theme-primary);
    margin-bottom: 20px;
}

a {
    display: block;
    margin: 15px 0;
    padding: 12px;
    background-color: var(--theme-primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #602bff;
}

@media (max-width: 700px) {
    .container {
        max-width: calc(80vw - 40px);
    }
}