<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipherify | Ciphers</title>
    <link rel="stylesheet" href="/secrets.css">
    <link rel="stylesheet" href="/add_secret.css">
</head>
<body>
    <div class="container">
        <h2>Ciphers</h2>
        <!-- <div class="secret">
            <div class="row">
                <p>URL:</p>
                <div class="value">https://example.com</div>
                <button class="delete-secret" onclick="deleteSecret(this)">Delete</button>
            </div>
            <div class="row">
                <div class="row-username">
                    <div class="value hidden">myusername myuse rnam e myuserna me my userna me myuser name myusername</div>
                    <button class="view-toggle" onclick="toggleView(this)">View</button>
                    <button class="copy-link" onclick="copyToClipboard(this)">Copy</button>
                </div>
                <p>:</p>
                <div class="row-value">
                    <div class="value hidden">mypassword</div>
                    <button class="view-toggle" onclick="toggleView(this)">View</button>
                    <button class="copy-link" onclick="copyToClipboard(this)">Copy</button>
                </div>
            </div>
        </div> -->
        </div>
        <div class="btns">
            <button class="add-secret" onclick="toggleAddSecret()">Add</button>
            <a class="logout" href="/auth/logout">Logout</a>
        </div>
    </div>


    <!-- ADD SECRETS FORM POPUP -->
    <div class="form-container">
        <h2>Add a Secret</h2>
        <form id="addSecretForm">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" id="url" name="url" placeholder="Enter URL" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Enter password" required>
            </div>
            <!-- Replace submit button with button type="button" -->
            <button type="button" onclick="submitAddSecretForm()">Add Secret</button>
        </form>
        <button class="hide-form-container" onclick="toggleAddSecret()">Close</button>
    </div>
    

    <script src="/js/secure.js"></script>

    <script>
        let IV;
        async function submitAddSecretForm() {
            const form = document.querySelector('.form-container form');
            const add_secret_button = document.querySelector('#addSecretForm button');
            const PIN = prompt('enter a 6 digit pin');

            add_secret_button.innerHTML = 'Adding...';

            // Collect form data
            const formData = new FormData(form);

            IV = crypto.getRandomValues(new Uint8Array(12)); // Generate a random initialization vector (IV)
            // let url = await encrypt(PIN, formData.get('url'), IV);
            let username = await encrypt(PIN, formData.get('username'), IV);
            let password = await encrypt(PIN, formData.get('password'), IV);

            const data = {
                'url': formData.get('url'),
                'username': username,
                'password': password,
                'iv':  btoa(String.fromCharCode(...IV))
            };
            console.log(data)
            const decryptedText = await decrypt(PIN, username, IV);
            if(decryptedText) console.log('decryptedText', decryptedText)
            
            try {
                const response = await fetch('/user/add-secret', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    add_secret_button.innerHTML = 'Added';
                    alert('You will be redirected to /user in 1 sec.');
                    setTimeout(() => {
                        window.location = '/user';
                    }, 1000);
                    // console.log(data.username)
                    
                } else {
                    const error = await response.json();
                    alert(`Failed to add secret: ${error.message}`);
                }
            } catch (error) {
                console.error('Error while submitting form:', error);
                alert('An error occurred. Please try again.');
            }
        }

    </script>
    
    <script src="/js/script.js"></script>
</body>
</html>
